In [619]:
from requests import get, post
from funcy import flatten
import math
import base64
import pandas as pd

juno_rpc='http://45.79.74.220:26657'
juno_addr = 'juno175q6smvgnuec5e62rs4chnu5cs8d98q2xgf4rx'

stargaze_rpc = 'http://173.255.240.182:26657'
stargaze_addr = 'stars1hvw778wslvyxh6mmv3sy96mwnaw80elmgw6vp0'

In [706]:
def tx_search (rpc, query, page='1', per_page='100') -> List[Dict]:
    '''
    See: htps://docs.tendermint.com/master/app-dev/indexing-transactions.html
    
    e.g.,
    
       curl --header "Content-Type: application/json" --request POST --data '{"method": "tx_search", "params": ["3D1000", "true", "1", "30", "asc"], "id": 0}' cro-croeseid.alchemyapi.io/your-api-key/tendermint
    
    params:
    
    - query - string, required query.
    - prove - boolean, include proofs of the transactions inclusion in the block. Default value = false
    - page - integer, page number (1-based). Default value = 1
    - per_page - integer, number of entries per page (max: 100). Default value = 30. 
    - order_by - string, Order in which transactions are sorted ("asc" or "desc"), by height & index. If empty, default sorting will be still applied. Default value = asc
    '''
    q =  {
        "method": "tx_search",
        "params": [
            # query
            query,
            # prove
            False,
            # page
            page,
            # per_page
            per_page,
            # order_by
            'asc',
        ],
        "id": 0,
    }
    resp = post(rpc, json=q)
    return resp.json()

def historical_txs (rpc, query) -> List[Dict]:
    txs = []
    per_page = 100
    print('querying page 1')
    res = tx_search(rpc, query, per_page=str(per_page))
    total = int(res['result']['total_count'])
    txs.append(res['result']['txs'])
    n_pages = math.ceil(total/per_page)
    pages_left = n_pages
    for i in range(pages_left):
        print('querying page',2+i)
        res = tx_search(rpc, query, page=str(1+i), per_page=str(per_page))
        txs.append(res['result']['txs'])
    return list(flatten(txs))

# query = f"transfer.recipient='{juno_addr}'"
query = f"transfer.recipient='{juno_addr}'"
txs = historical_txs(juno_rpc, query)
len(txs)

querying page 1
querying page 2
querying page 3

215

In [710]:
from typing import List, Dict

def find_attr_value (attrs: List[Dict], attr_key: str):
    return [a for a in attrs if a['key']==attr_key][0]['value']

def udenom_to_int (udenom: str) -> int:
    return int(udenom.split('u')[0])

In [822]:
def events (tx: Dict) -> List[Dict]:
    tx_events = []
    log = json.loads(tx['tx_result']['log'])
    for item in log:
        tx_events.append(item['events'])
    return list(flatten(tx_events))

def extract_reward_income (events: List[Dict], event_type):
    denoms = []
    for event in events:
        if event['type'] == event_type:
            attrs = event['attributes']
            v = find_attr_value(attrs, 'amount')
            v = udenom_to_int(v)
            denoms.append(v)
    return denoms

def extract_transfer (events: List[Dict], event_type: str, attr_key: str, attr_value: str) -> List[int]:
    '''
    TODO - pretty similar to method above
    '''
    denoms = []
    for event in events:
        if event['type'] == event_type:
            attrs = event['attributes']
            x = find_attr_value(attrs, attr_key)
            if x == attr_value:
                v = find_attr_value(attrs, 'amount')
                v = udenom_to_int(v)
                denoms.append(v)
    return denoms

def extract_staking_rewards (events) -> List[int]:
    return extract_reward_income(events, 'withdraw_commission')
    
def extract_staking_commission (events) -> List[int]:
    return extract_reward_income(events, 'withdraw_rewards')

def extract_staking_delegations(events) -> List[int]:
    return extract_reward_income(events, 'delegate')

def extract_receipts (events: List[Dict], my_address: str) -> List[int]:
    return  extract_transfer(events, 'transfer', 'recipient', my_address) #+ extract_transfer(events, 'coin_received', 'receiver', my_address)

def extract_spends (events: List[Dict], my_address: str):
    return  extract_transfer(events, 'transfer', 'sender', my_address) # extract_transfer(events, 'coin_spent', 'spender', my_address) +

extract_receipts(events(txs[4]), juno_addr)
# events(txs[4])

[6840387]

# Total lifetime income

In [823]:
def udenom_to_readable(udenom: int) -> float:
    return udenom/1000000

def inflows_outflows (txs: List[Dict]) -> float:
    inflows = []
    outflows = []
    for tx in txs:
        es = events(tx)
        inflow = extract_staking_rewards(es) + extract_staking_commission(es) + extract_receipts(es, juno_addr)
        outflow =  extract_staking_delegations(es) + extract_spends(es, juno_addr)
        inflows.append(sum(flatten(inflow)))
        outflows.append(sum(flatten(outflow)))
    return inflows, outflows

In [824]:
query = f"transfer.recipient='{juno_addr}'"
txs = list(historical_txs(juno_rpc, query))
inflows, outflows = inflows_outflows(txs)

querying page 1
querying page 2
querying page 3

In [825]:
udenom_to_readable(sum(inflows)-sum(outflows))

2037.405522

# FMV at time of receipt

### Block timing

In [826]:
def block_height (tx) -> int:
    return int(tx['height'])

get_block_height(ex_tx)

1234539

In [827]:
def block_time (rpc: str, height: int) -> str:
    return get(f'{rpc}/block?height={height}').json()['result']['block']['header']['time']


get_block_time(juno_rpc, 32970)

'2021-10-03T22:19:33.919092076Z'

In [828]:
block_times = [block_time(juno_rpc, block_height(tx)) for tx in txs]

# Align blocks with historical prices

### get historical prices

In [829]:
def historical_prices (coin:str) -> List[Dict]:
    return get(f'https://api-osmosis.imperator.co/tokens/v1/historical/{coin}/chart?range=365d').json()

prices = historical_prices('JUNO')

In [944]:
# condence into a median price
def fmv (price):
    return (price['high'] + price['low']) / 2

historical_fmvs = [(price['time'], fmv(price)) for price in  prices]

In [945]:
fmvs_df = pd.DataFrame(historical_fmvs, columns=['time', 'price'])
fmvs_df['time'] =   pd.to_datetime(fmvs_df['time'],unit='s')
fmvs_df = fmvs_df.set_index('time')
fmvs_df.index =  fmvs_df.index.tz_localize('UTC')
fmvs_df = fmvs_df.sort_values('time')
fmvs_df.head()

                              price
time
2021-10-02 16:00:00+00:00  1.011997
2021-10-03 06:00:00+00:00  3.804429
2021-10-03 07:00:00+00:00  3.583413
2021-10-03 08:00:00+00:00  5.872912
2021-10-03 09:00:00+00:00  8.382361

In [946]:
inflow_outflow_df = pd.DataFrame({
    'time': block_times,
    'inflow': inflows,
    'outflow': outflows,
})
inflow_outflow_df['time'] = pd.to_datetime(inflow_outflow_df['time'])
inflow_outflow_df = inflow_outflow_df.set_index('time').sort_values('time')
inflow_outflow_df.head()

                                       inflow   outflow
time
2021-10-03 22:19:33.919092076+00:00  52198556         0
2021-10-03 22:19:33.919092076+00:00  52198556         0
2021-10-03 22:33:58.577720694+00:00     69638  26000000
2021-10-03 22:33:58.577720694+00:00     69638  26000000
2021-10-04 16:00:51.946680798+00:00  10035206         0

### align blocks to nearest time

In [947]:
merged_df = pd.merge_asof(inflow_outflow_df, fmvs_df, on='time', direction='nearest')

# Place airdrop in financial year

airdrop amount is our current balance minus the inflow for which we've accounted in `priced_df`

In [948]:
merged_df['net'] = merged_df['inflow'] - merged_df['outflow']
assert(merged_df['net'].sum() == sum(inflows) - sum(outflows))

In [949]:
def get_amount (balance: dict) -> int:
    return int(balance['amount'])

def get_delegations (rest_endpoint: str, address: str) -> List[int]:
    resp = get(
        rest_endpoint +  f"/cosmos/staking/v1beta1/delegations/{address}"
    ).json()
    return [get_amount(d['balance']) for d in resp['delegation_responses']]

currently_delegated_balance =  get_delegations('https://lcd-juno.itastakers.com', juno_addr)[0] 

# airdrop -  priced_df['inflow'].sum()
airdropped_amount = currently_delegated_balance - merged_df['net'].sum()

the airdrop happened at network genesis. its price will relate to the first FMV.

In [950]:
initial_fmv = fmvs_df.iloc[0]
airdrop_price = initial_fmv.price
airdrop_time = initial_fmv.name

airdrop = pd.DataFrame({
    'time': airdrop_time,
    'inflow': airdropped_amount, 
    'outflow': 0, 
    'price': airdrop_price
},index=[0])
pd.concat(
    [airdrop,
    merged_df]
)

,time,inflow,outflow,price,net
0,2021-10-02 16:00:00+00:00,4234147264,0,1.011997,NaN
0,2021-10-03 22:19:33.919092076+00:00,52198556,0,5.839529,52198556.0
1,2021-10-03 22:19:33.919092076+00:00,52198556,0,5.839529,52198556.0
2,2021-10-03 22:33:58.577720694+00:00,69638,26000000,4.947906,-25930362.0
3,2021-10-03 22:33:58.577720694+00:00,69638,26000000,4.947906,-25930362.0
...,...,...,...,...,...
210,2021-12-28 15:59:15.024210146+00:00,196533586,0,9.347774,196533586.0
211,2021-12-29 17:03:08.315568522+00:00,76019742,0,9.142959,76019742.0
212,2021-12-29 18:48:05.685584714+00:00,5220446,0,9.104636,5220446.0
213,2021-12-29 18:51:48.918989487+00:00,174630,0,9.104636,174630.0
214,2021-12-29 18:52:01.419210964+00:00,1872,526006818,9.104636,-526004946.0

# Compute liability

In [884]:
assert(merged_df['inflow'].sum() == sum(inflows))
assert(merged_df['outflow'].sum() == sum(outflows))
merged_df

                                   time     inflow    outflow     price
0   2021-10-03 22:19:33.919092076+00:00   52198556          0  5.839529
1   2021-10-03 22:19:33.919092076+00:00   52198556          0  5.839529
2   2021-10-03 22:33:58.577720694+00:00      69638   26000000  4.947906
3   2021-10-03 22:33:58.577720694+00:00      69638   26000000  4.947906
4   2021-10-04 16:00:51.946680798+00:00   10035206          0  4.233621
..                                  ...        ...        ...       ...
210 2021-12-28 15:59:15.024210146+00:00  196533586          0  9.347774
211 2021-12-29 17:03:08.315568522+00:00   76019742          0  9.142959
212 2021-12-29 18:48:05.685584714+00:00    5220446          0  9.104636
213 2021-12-29 18:51:48.918989487+00:00     174630          0  9.104636
214 2021-12-29 18:52:01.419210964+00:00       1872  526006818  9.104636

[215 rows x 4 columns]

In [889]:
merged_df['net'] = merged_df['inflow'] - merged_df['outflow']
assert(merged_df['net'].sum() == sum(inflows) - sum(outflows))

In [750]:
priced_df_fy =  priced_df[(priced_df['time']>='2021-01-01') &
                          (priced_df['time']<'2022-01-01') ]

priced_df_fy['net_usd'].sum()

In [890]:
merged_df['net_usd'] = udenom_to_readable(merged_df['net'] * merged_df['price'])
merged_df['net_usd'].sum()

19935.104859658288