In [60]:
from imp import reload
from lib import util

juno_rpc='http://45.79.74.220:26657'
juno_addr = 'juno175q6smvgnuec5e62rs4chnu5cs8d98q2xgf4rx'

stargaze_rpc = 'http://173.255.240.182:26657'
stargaze_addr = 'stars1hvw778wslvyxh6mmv3sy96mwnaw80elmgw6vp0'

In [61]:
query = f"transfer.recipient='{juno_addr}'"
txs = util.historical_txs(juno_rpc, query)
len(txs)

querying page 1
querying page 2
querying page 3

217

In [99]:
import json
with open('mock-txs.json', 'w') as outfile:
    json.dump(txs, outfile)

In [11]:
# util.udenom_to_readable(sum(inflows)-sum(outflows))

2037.405522

# FMV at time of receipt

### Block timing

In [14]:
reload(util)
util.block_time(juno_rpc, 32970)

'2021-10-03T22:19:33.919092076Z'

In [15]:
MY_RPC = stargaze_rpc
MY_ADDR = stargaze_addr
MY_LCD = 'https://rest.stargaze.publicawesome.dev'
TOKEN_NAME = "STARS"

In [16]:
query = f"transfer.recipient='{MY_ADDR}'"
txs = util.historical_txs(MY_RPC, query)

inflows, outflows = util.inflows_outflows(txs, MY_ADDR)
block_times = [util.block_time(MY_RPC, util.block_height(tx)) for tx in txs]

querying page 1
querying page 2

# Align blocks with historical prices

### get historical prices

In [19]:
reload(util)
prices = util.historical_prices('STARS')

In [22]:
# condence into a median price
reload(util)
historical_fmvs = [(price['time'], util.fmv(price)) for price in  prices]

In [25]:
import pandas as pd

fmvs_df = pd.DataFrame(historical_fmvs, columns=['time', 'price'])
fmvs_df['time'] =   pd.to_datetime(fmvs_df['time'],unit='s')
fmvs_df = fmvs_df.set_index('time')
fmvs_df.index =  fmvs_df.index.tz_localize('UTC')
fmvs_df = fmvs_df.sort_values('time')
fmvs_df.head()

                              price
time
2021-12-18 16:00:00+00:00  0.318709
2021-12-18 17:00:00+00:00  0.318330
2021-12-18 18:00:00+00:00  0.289248
2021-12-18 19:00:00+00:00  0.252188
2021-12-18 20:00:00+00:00  0.238052

In [26]:
inflow_outflow_df = pd.DataFrame({
    'time': block_times,
    'inflow': inflows,
    'outflow': outflows,
})
inflow_outflow_df['time'] = pd.to_datetime(inflow_outflow_df['time'])
inflow_outflow_df = inflow_outflow_df.set_index('time').sort_values('time')
inflow_outflow_df.head()

                                     inflow  outflow
time
2021-10-29 17:53:10.944305673+00:00      28     1000
2021-10-29 17:53:10.944305673+00:00      28     1000

### align blocks to nearest time

In [27]:
merged_df = pd.merge_asof(inflow_outflow_df, fmvs_df, on='time', direction='nearest')

# Place airdrop in financial year

airdrop amount is our current balance minus the inflow for which we've accounted in `priced_df`

In [28]:
merged_df['net'] = merged_df['inflow'] - merged_df['outflow']
assert(merged_df['net'].sum() == sum(inflows) - sum(outflows))

In [45]:
reload(util)
util.get_holdings(MY_LCD, MY_ADDR)

520927000028

In [47]:
currently_delegated_balance =  util.get_holdings(MY_LCD, MY_ADDR)

# airdrop -  priced_df['inflow'].sum()
airdropped_amount = currently_delegated_balance - merged_df['net'].sum()

the airdrop happened at network genesis. its price will relate to the first FMV.

In [48]:
initial_fmv = fmvs_df.iloc[0]
airdrop_price = initial_fmv.price
airdrop_time = initial_fmv.name

airdrop = pd.DataFrame({
    'time': airdrop_time,
    'inflow': airdropped_amount, 
    'outflow': 0, 
    'price': airdrop_price,
    'net': airdropped_amount,
},index=[0])

merged_df = pd.concat(
    [airdrop,
    merged_df]
)

# Compute liability

In [50]:
merged_df['net_usd'] = util.udenom_to_readable(merged_df['net'] * merged_df['price'])

merged_df_fy =  merged_df[(merged_df['time']>='2021-01-01') &
                          (merged_df['time']<'2022-01-01') ]

merged_df_fy['net_usd'].sum()

166024.34967284443