In [1]:
from requests import get, post
from funcy import flatten
import math
import base64
import pandas as pd
import json
from typing import List, Dict

juno_rpc='http://45.79.74.220:26657'
juno_addr = 'juno175q6smvgnuec5e62rs4chnu5cs8d98q2xgf4rx'

stargaze_rpc = 'http://173.255.240.182:26657'
stargaze_addr = 'stars1hvw778wslvyxh6mmv3sy96mwnaw80elmgw6vp0'

In [2]:
def tx_search (rpc, query, page='1', per_page='100') -> List[Dict]:
    '''
    See: htps://docs.tendermint.com/master/app-dev/indexing-transactions.html
    
    e.g.,
    
       curl --header "Content-Type: application/json" --request POST --data '{"method": "tx_search", "params": ["3D1000", "true", "1", "30", "asc"], "id": 0}' cro-croeseid.alchemyapi.io/your-api-key/tendermint
    
    params:
    
    - query - string, required query.
    - prove - boolean, include proofs of the transactions inclusion in the block. Default value = false
    - page - integer, page number (1-based). Default value = 1
    - per_page - integer, number of entries per page (max: 100). Default value = 30. 
    - order_by - string, Order in which transactions are sorted ("asc" or "desc"), by height & index. If empty, default sorting will be still applied. Default value = asc
    '''
    q =  {
        "method": "tx_search",
        "params": [
            # query
            query,
            # prove
            False,
            # page
            page,
            # per_page
            per_page,
            # order_by
            'asc',
        ],
        "id": 0,
    }
    resp = post(rpc, json=q)
    return resp.json()

def historical_txs (rpc, query) -> List[Dict]:
    txs = []
    per_page = 100
    print('querying page 1')
    res = tx_search(rpc, query, per_page=str(per_page))
    total = int(res['result']['total_count'])
    txs.append(res['result']['txs'])
    n_pages = math.ceil(total/per_page)
    pages_left = n_pages
    for i in range(pages_left):
        print('querying page',2+i)
        res = tx_search(rpc, query, page=str(1+i), per_page=str(per_page))
        txs.append(res['result']['txs'])
    return list(flatten(txs))

# query = f"transfer.recipient='{juno_addr}'"
# query = f"transfer.recipient='{juno_addr}'"
# txs = historical_txs(juno_rpc, query)
# len(txs)

In [3]:
from typing import List, Dict

def find_attr_value (attrs: List[Dict], attr_key: str):
    return [a for a in attrs if a['key']==attr_key][0]['value']

def udenom_to_int (udenom: str) -> int:
    return int(udenom.split('u')[0])

In [4]:
def events (tx: Dict) -> List[Dict]:
    tx_events = []
    log = json.loads(tx['tx_result']['log'])
    for item in log:
        tx_events.append(item['events'])
    return list(flatten(tx_events))

def extract_reward_income (events: List[Dict], event_type):
    denoms = []
    for event in events:
        if event['type'] == event_type:
            attrs = event['attributes']
            v = find_attr_value(attrs, 'amount')
            v = udenom_to_int(v)
            denoms.append(v)
    return denoms

def extract_transfer (events: List[Dict], event_type: str, attr_key: str, attr_value: str) -> List[int]:
    '''
    TODO - pretty similar to method above
    '''
    denoms = []
    for event in events:
        if event['type'] == event_type:
            attrs = event['attributes']
            x = find_attr_value(attrs, attr_key)
            if x == attr_value:
                v = find_attr_value(attrs, 'amount')
                v = udenom_to_int(v)
                denoms.append(v)
    return denoms

def extract_staking_rewards (events) -> List[int]:
    return extract_reward_income(events, 'withdraw_commission')
    
def extract_staking_commission (events) -> List[int]:
    return extract_reward_income(events, 'withdraw_rewards')

def extract_staking_delegations(events) -> List[int]:
    return extract_reward_income(events, 'delegate')

def extract_receipts (events: List[Dict], my_address: str) -> List[int]:
    return  extract_transfer(events, 'transfer', 'recipient', my_address) #+ extract_transfer(events, 'coin_received', 'receiver', my_address)

def extract_spends (events: List[Dict], my_address: str):
    return  extract_transfer(events, 'transfer', 'sender', my_address) # extract_transfer(events, 'coin_spent', 'spender', my_address) +

# extract_receipts(events(txs[4]), juno_addr)
# events(txs[4])

# Total lifetime income

In [21]:
def udenom_to_readable(udenom: int) -> float:
    return udenom/1000000

def inflows_outflows (txs: List[Dict], my_address:str) -> float:
    inflows = []
    outflows = []
    for tx in txs:
        es = events(tx)
        inflow = extract_staking_rewards(es) + extract_staking_commission(es) + extract_receipts(es, my_address)
        outflow =  extract_staking_delegations(es) + extract_spends(es, my_address)
        inflows.append(sum(flatten(inflow)))
        outflows.append(sum(flatten(outflow)))
    return inflows, outflows

In [22]:
# query = f"transfer.recipient='{juno_addr}'"
# txs = historical_txs(juno_rpc, query)
# inflows, outflows = inflows_outflows(txs, juno_addr)

In [7]:
# udenom_to_readable(sum(inflows)-sum(outflows))

# FMV at time of receipt

### Block timing

In [8]:
def block_height (tx) -> int:
    return int(tx['height'])

# get_block_height(ex_tx)

In [9]:
def block_time (rpc: str, height: int) -> str:
    return get(f'{rpc}/block?height={height}').json()['result']['block']['header']['time']


# get_block_time(juno_rpc, 32970)

In [39]:
MY_RPC = stargaze_rpc
MY_ADDR = stargaze_addr
MY_LCD = 'https://rest.stargaze.publicawesome.dev'
TOKEN_NAME = "STARS"

In [40]:
query = f"transfer.recipient='{MY_ADDR}'"
txs = historical_txs(MY_RPC, query)

inflows, outflows = inflows_outflows(txs, MY_ADDR)
block_times = [block_time(MY_RPC, block_height(tx)) for tx in txs]

querying page 1
querying page 2

# Align blocks with historical prices

### get historical prices

In [41]:
def historical_prices (coin:str) -> List[Dict]:
    return get(f'https://api-osmosis.imperator.co/tokens/v1/historical/{coin}/chart?range=365d').json()

prices = historical_prices('STARS')

In [42]:
# condence into a median price
def fmv (price):
    return (price['high'] + price['low']) / 2

historical_fmvs = [(price['time'], fmv(price)) for price in  prices]

In [43]:
fmvs_df = pd.DataFrame(historical_fmvs, columns=['time', 'price'])
fmvs_df['time'] =   pd.to_datetime(fmvs_df['time'],unit='s')
fmvs_df = fmvs_df.set_index('time')
fmvs_df.index =  fmvs_df.index.tz_localize('UTC')
fmvs_df = fmvs_df.sort_values('time')
fmvs_df.head()

                              price
time
2021-12-18 16:00:00+00:00  0.318709
2021-12-18 17:00:00+00:00  0.318330
2021-12-18 18:00:00+00:00  0.289248
2021-12-18 19:00:00+00:00  0.252188
2021-12-18 20:00:00+00:00  0.238052

In [44]:
inflow_outflow_df = pd.DataFrame({
    'time': block_times,
    'inflow': inflows,
    'outflow': outflows,
})
inflow_outflow_df['time'] = pd.to_datetime(inflow_outflow_df['time'])
inflow_outflow_df = inflow_outflow_df.set_index('time').sort_values('time')
inflow_outflow_df.head()

                                     inflow  outflow
time
2021-10-29 17:53:10.944305673+00:00      28     1000
2021-10-29 17:53:10.944305673+00:00      28     1000

### align blocks to nearest time

In [45]:
merged_df = pd.merge_asof(inflow_outflow_df, fmvs_df, on='time', direction='nearest')

# Place airdrop in financial year

airdrop amount is our current balance minus the inflow for which we've accounted in `priced_df`

In [46]:
merged_df['net'] = merged_df['inflow'] - merged_df['outflow']
assert(merged_df['net'].sum() == sum(inflows) - sum(outflows))

In [49]:
def get_amount (balance: dict) -> int:
    return int(balance['amount'])

def get_delegations (rest_endpoint: str, address: str) -> List[int]:
    resp = get(
        rest_endpoint +  f"/cosmos/staking/v1beta1/delegations/{address}"
    ).json()
    return [get_amount(d['balance']) for d in resp['delegation_responses']]

currently_delegated_balance =  get_delegations(MY_LCD, MY_ADDR)[0] 

# airdrop -  priced_df['inflow'].sum()
airdropped_amount = currently_delegated_balance - merged_df['net'].sum()

the airdrop happened at network genesis. its price will relate to the first FMV.

In [50]:
initial_fmv = fmvs_df.iloc[0]
airdrop_price = initial_fmv.price
airdrop_time = initial_fmv.name

airdrop = pd.DataFrame({
    'time': airdrop_time,
    'inflow': airdropped_amount, 
    'outflow': 0, 
    'price': airdrop_price,
    'net': airdropped_amount,
},index=[0])

merged_df = pd.concat(
    [airdrop,
    merged_df]
)

# Compute liability

In [51]:
merged_df['net_usd'] = udenom_to_readable(merged_df['net'] * merged_df['price'])

merged_df_fy =  merged_df[(merged_df['time']>='2021-01-01') &
                          (merged_df['time']<'2022-01-01') ]

merged_df_fy['net_usd'].sum()

166024.34967284443

In [52]:
merged_df

,time,inflow,outflow,price,net,net_usd
0,2021-12-18 16:00:00+00:00,520927001972,0,0.318709,520927001972,166024.350292
0,2021-10-29 17:53:10.944305673+00:00,28,1000,0.318709,-972,-0.000310
1,2021-10-29 17:53:10.944305673+00:00,28,1000,0.318709,-972,-0.000310